.mobileSlider{
    display: none;
}
.mobileSlider img{
    height: 80vh;
}


@media screen and (max-width: 536px) {
    .slider{
        display: none;
    }
  .mobileSlider {
    display: block;
  }
}